.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* @tailwind base; */

.fixed {
  position: fixed;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-24 {
  margin-top: 6rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 20rem;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.rounded {
  border-radius: 0.25rem;
}

.border-0 {
  border-width: 0px;
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.object-contain {
  object-fit: contain;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-normal {
  font-weight: 400;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#root {
  height: 100%;
}

/*header*/

.ant-menu-item-selected, 
.ant-menu-item:active, 
.ant-menu-submenu-title:active, 
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-vertical .ant-menu-item:last-child {
  margin-bottom: 8px;
}

/*banner*/

.banner-wrap {
  z-index: 0;
  margin-top: 7rem;
  width: 100%;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #dcfce7;
  --tw-gradient-to: rgb(220 252 231 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dbeafe;
}

@media (min-width: 640px) {
  .banner-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 7rem;
  }
}

@media (min-width: 768px) {
  .banner-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 9rem;
  }
}

@media (min-width: 1024px) {
  .banner-wrap {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .banner-wrap {
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 12rem;
  }
}

.banner-wrap h1 {
  background: linear-gradient(
    112.77deg,
    rgba(19, 125, 183, 1),
    rgba(79, 224, 182, 1)
  );
  font-size: 4rem;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100px;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 7;
}

@media only screen and (max-width: 1024) {
  .banner-wrap h1 {
    font-size: 3.5rem;
    line-height: 70px;
  }
}

@media only screen and (max-width: 935px) {
  .banner-wrap h1 {
    font-size: 2.5rem;
    line-height: 70px;
  }
}

/*Slick-slide*/

.slick-slide {
  margin: 0 50px;
}

.ant-carousel .slick-track {
  display: flex;
}

/*Partner*/

.partner-wrap {
  z-index: 0;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #dcfce7;
  --tw-gradient-to: rgb(220 252 231 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dbeafe;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 640px) {
  .partner-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .partner-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .partner-wrap {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1280px) {
  .partner-wrap {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.partner-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 640px) {
  .partner-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .partner-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/*Service*/

.service-wrap {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #eff6ff;
  --tw-gradient-to: rgb(239 246 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #f9fafb;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

@media (min-width: 640px) {
  .service-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .service-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .service-wrap {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1280px) {
  .service-wrap {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.service-carousel {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity));
}

/*button readmore*/

.btn-more {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.btn-more:hover {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 768px) {
  .md\:m-0 {
    margin: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:max-w-full {
    max-width: 100%;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1024px) {
  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1280px) {
  .xl\:px-48 {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
